@font-face {
  font-family: 'Cordata400';
  src:  url('/fonts/Web437_Cordata_PPC-400.woff') format('woff');
}

/* Defaults */
:root {
	--font-family: 'Cordata400';
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-white: #fff;

	--background-color: #191919;

	--text-color: var(--color-white);
	--text-color-link: #ff8a32;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media screen and (max-width:479px) {
	html {
		font-size: 12px;
	}
}

@media screen and (min-width:480px) {
	html {
		font-size: 16px;
	}
}


.navbar__title {
	colour: #01a252;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4 {
	font-weight: normal;
}

p {
	font-size: 1.5rem;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 40em;
}

a:hover, a:focus {
	background-color: var(--text-color);
	color: var(--background-color) !important;
	outline: none;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

@media screen and (max-width:539px) {
	a.header__title pre {
		font-size: 0.75em;
	}
}

@media screen and (min-width:540px) {
	a.header__title pre {
		font-size: 1em;
	}
}


a.header__title pre {
	line-height: 1;
  text-shadow: 6px 3px #963c6e;
}

a.header__title, a.header_title:visited {
	color: #00cd67;
	text-decoration: none;
}


main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */

nav {
	width: 100%;
}

.nav {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 0;
	list-style: none;
	border-top: 2px dashed var(--color-gray-20);
	border-bottom: 2px dashed var(--color-gray-20);
	justify-content: center;
	width: 100%;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a {
	font-size: 2rem;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1em;
}
.postlist-date,
.postlist-item:before {
	font-size: 2em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 2em; /* 19px /16 */
	flex-basis: calc(100% - 1.5rem);
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	display: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
	text-decoration-color: var(--background-color);
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
/*	color: #aaa;*/
	display: inline-block;
}


h1, h2, h3, h4 {
  text-shadow: 2px 2px #a4a4a4;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h2 + .header-anchor {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

ul li {
	font-size: 1.5em;
}

/* form */

.mailing-list-container {
	border-color: var(--color-white);
	border-style: dashed;
	border-width: 2px 0 2px 0;
	margin: 0 3em;
}

.mailing-list-form {
	border: 1px solid var(--color-white);
	position: relative;
	padding: 1em 20px 1em 1em;
	margin-top: 3em;
	margin-bottom: 3em;
}

.mailing-list-form__fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.mailing-list-form__form-title {
	background-color: var(--background-color);
	font-size: 2em;
	left: 50%;
	padding: 0 0.5em;
	position: absolute;
  text-wrap: nowrap;
  top: -15px;
  transform: translateX(-50%);
}

.mailing-list-form__label {
	font-size: 2em;
	padding-right: 10px;
}

.mailing-list-form__label--hidden {
	display: none;
}

.mailing-list-form__section {
	align-items: center;
	display: flex;
	flex-direction: row;
	padding-top: 1em;
}

.mailing-list-form__radios legend {
	padding-bottom: 0.5em;
}

.mailing-list-form__radios {
	flex-grow: 2;
	font-size: 1.30em;
}

.mailing-list-form__button {
	background-color: var(--background-color);
	border: 1px solid var(--color-white);
	color: var(--color-white);
	font-family: var(--font-family);
	font-size: 1.5em;
	padding: 0.5em;
}

.mailing-list-form__button:focus {
	outline: 4px solid var(--text-color-link);
}

.mailing-list-form__button:hover {
	background-color: var(--color-white);
	color: var(--background-color);
	cursor: pointer;
}

.mailing-list-form__input-text {
	background-color: var(--background-color);
	border: 1px solid var(--color-white);
	color: var(--color-white);
	font-family: var(--font-family);
	font-size: 2em;
	padding: 0.25em;
	width: 100%;
}


.mailing-list-form__input-text:focus {
	outline: 4px solid var(--text-color-link);
}


.mailing-list-form__radio {
	display: inline;
	position: relative;
}

input[type="radio"] {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	z-index: 9999;
	width: 2em;
}

input[type="radio"]+label {
	padding-right: 0.25em;
	position: relative;
	margin-left: 30px;
}

input[type="radio"]:focus+label:before {
	outline: 4px solid var(--text-color-link);
}


input[type="radio"]:checked+label:before {
	border: 1px solid var(--background-color);
	background-color: var(--text-color-link);
	outline: 1px solid var(--color-white);
}

input[type="radio"]+label:before {
	border: 1px solid var(--color-white);
	border-radius: 30px;
	content: '';
	display: inline-block;
	height: 15px;
	left: -1.25em;
	margin-right: 10px;
	position: absolute;
	width: 15px;
}


.work__links-container {
	display: flex;
	flex-direction: column;
}

.work__links {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.work__summary {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.work__preview {
	padding-top: 1rem;
	width: 100%;
}