---
layout: layouts/email.njk
---

<h1>Confirm Patworld Mailing List Sign-Up</h1>

<p>To have recieved this email, you (or someone else) requested to join the mailing list for Patworld. If you did request this, please follow this link to confirm the sign-up. Otherwise, please ignore this e-mail.</p>

<p>
	This email originated from <a href="https://patworld.world">https://patworld.world</a>, thanks for reading!
</p>