<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Atacama Garden</title>
    <meta name="title" content="Atacama Garden">
    <meta name="description" content="Talking About Landscape in the 21st Century">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Atacama Garden">
    <meta property="og:description" content="http://atacamagarden.fgmm.cl/">
    <meta property="og:image" content="/ogimg.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://http://atacamagarden.fgmm.cl/">
    <meta property="twitter:title" content="Atacama Garden">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="/ogimg.png">
    <link href="/atamaca/css/main.50075e15.css" rel="stylesheet">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="/atamaca/js/main.js"></script>
    <script eleventy:ignore type="text/javascript">
        (() => fetch("/atamaca/references.json").then(e => e.json()).then(e => { window.renderGarden(e, '/works/atamaca-garden') }))()
    </script>    
</body>

</html>