---
layout: layouts/base.njk
---

<form class="mailing-list-form">
  <div class="mailing-list-form__form-title">
    Sign up to the mailing list
  </div>
  <fieldset class="mailing-list-form__fieldset">
    <div class="mailing-list-form__section">
      {# <label class="mailing-list-form__label">Email:</label> #}
      <input placeholder="Email address" class="mailing-list-form__input-text" type="text" name="email" />
    </div>
  </fieldset>
  <div class="mailing-list-form__section">
    <fieldset class="mailing-list-form__fieldset mailing-list-form__radios">
      <legend class="mailing-list-form__legend">
        What posts do you want to get emails about?
      </legend>
      <div class="mailing-list-form__radio">
        <input name="mailing-list" type="radio" value="all" />
        <label for="all-posts">All posts</label>
      </div>
      <div class="mailing-list-form__radio">
        <input name="mailing-list" type="radio" value="tech" />
        <label for="tech-posts">Tech posts</label>
      </div>
      <div class="mailing-list-form__radio">
        <input name="mailing-list" type="radio" value="not-tech" />
        <label for="not-tech-posts">Other posts</label>
      </div>
    </fieldset>
    <button class="mailing-list-form__button" type="submit">
      Submit
    </button>
  </div>
</form>