---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>


<div class="work__links-container">
  {%- if project_url %}
    <a class="work__links" href="{{ project_url }}">
      Deployed Project
    </a>
  {% endif %}

  {%- if project_link %}
    <a class="work__links" href="{{ project_link.url }}">
        {%- if project_link.text -%}
          {{ project_link.text }}
        {%-  else -%}
          Deployed Project
        {% endif %}
    </a>
  {% endif %}  

  {%- if github_url %}
    <a class="work__links" href="{{ github_url }}">
      Github Repo 
    </a>
  {% endif %}
</div>

<ul class="work__summary">
  <li>Time frame: {{ summary.time_frame }}</li>
  <li>Tech stack: {{ summary.tech_stack }}</li>
  <li>Libraries: {{ summary.libraries }}</li>
  <li>Role(s): {{ summary.roles }}</li>
</ul> 

<img class="work__preview" src="{{ preview_img.src }}" alt="{{ preview_img.alt }}">

{{ content | safe }}
 
{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}